scrape_configs:
%{ for module in module_targets ~}
  - job_name: 'blackbox-exporter-${module.name}-${blackbox_url}'
    metrics_path: /probe
    params:
      module: [${module.name}]
    static_configs:
      - targets:
%{ for target in module.targets ~}
        - ${target}
%{ endfor ~}
        labels:
%{ for label_name, label_value in module.labels ~}
          ${label_name}: "${label_value}"
%{ endfor ~}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: ${blackbox_url}
%{ endfor ~}
